<div class="container pt-5">
  <div class="row col-md-12">
    <mat-card>
      <mat-card-title>Add Category</mat-card-title>
      <mat-card-content>
        <form
          [formGroup]="bookMarkForm"
          (ngSubmit)="onSubmit()"
          class="form-control"
        >
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Title</mat-label>
            <input
              id="bookmarkTitle"
              matInput
              maxlength="30"
              type="text"
              required
              formControlName="title"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>URL</mat-label>
            <input
              id="bookmarkUrl"
              matInput
              type="text"
              required
              formControlName="url"
            />
          </mat-form-field>
          <div class="row">
            <div class="col-md-11">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select
                  id="bookmarkCategory"
                  required
                  formControlName="category"
                  [(ngModel)]="category"
                  [disabled]="newCategory"
                >
                  <mat-option
                    *ngFor="let categoryName of categories"
                    [value]="categoryName"
                  >
                    {{ categoryName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-1">
              <div class="example-button-container">
                <button
                  (click)="newCategoryAdd()"
                  mat-fab
                  type="button"
                  color="primary"
                  aria-label="Example icon button with a menu icon"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <mat-form-field
            class="example-full-width"
            appearance="outline"
            *ngIf="newCategory"
          >
            <mat-label>New Category</mat-label>
            <input
              id="bookmarkCategoryNew"
              matInput
              type="text"
              [required]="newCategory"
              formControlName="category"
            />
          </mat-form-field>

          <button color="warn" mat-raised-button type="reset">Cancel</button>

          <button class="float-end"
            color="primary"
            mat-raised-button
            type="submit"
            [disabled]="!bookMarkForm.valid"
          >
            Save
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
