<div class="container pt-5">
  <mat-card *ngIf="bookmark!=null">
    <div class="row">
      <div class="col-md-3"><h4>Title:</h4></div>
      <div class="col-md-9">
        <h4>{{ bookmark.title }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"><h4>URL:</h4></div>
      <div class="col-md-9">
        <h4>{{ bookmark.url }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"><h4>Category</h4></div>
      <div class="col-md-9">
        <h4>{{ bookmark.category }}</h4>
      </div>
    </div></mat-card
  >
</div>
