<div class="container pt-5">
  <div class="row col-md-12">
    <mat-card>
      <mat-card-title>Add Category</mat-card-title>
      <mat-card-content>
        <form
          [formGroup]="categoryForm"
          (ngSubmit)="onSubmit()"
          class="form-control"
        >
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Category Name</mat-label>
            <input id="categoryName" matInput type="text" required formControlName="name"/>
          </mat-form-field>

          <button
            color="primary"
            mat-raised-button
            type="submit"
            [disabled]="!categoryForm.valid"
          >
            Submit
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

{{ categoryForm.value.name }}
