<div class="container pt-5">
  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let category of categories">
        <mat-card>
          <mat-card-title>{{ category }}</mat-card-title>
          <mat-card-content> 
            <div *ngFor="let bookmark of bookmarks">
                <div *ngIf="bookmark.category==category">
                    <div class="row">
                        <div class="col-md-9"><button  mat-button (click)="goToLink(bookmark)">{{bookmark.title}}</button></div>
                        <div class="col-md-3"><button mat-button (click)="showBookmarkDetaila(bookmark)">Details</button></div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </div>
          </mat-card-content>
        </mat-card><br>
      </div>
    </div>
    <div class="col-md-6">
        <app-show-bookmark [bookmark]="bookMark"></app-show-bookmark>
    </div>
  </div>
</div>
